<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <h2>添加学生</h2>
    <form action="" method="post">
      <div>
        <label for="">姓名</label>
        <input type="text" id="" name="name" required minlength="2" maxlength="10">
      </div>
      <div>
        <label for="">性别</label>
        <div>
          <label>
            <input type="radio" name="gender" id="" value="0" checked> 男
          </label>
          <label>
            <input type="radio" name="gender" id="" value="1"> 女
          </label>
        </div>
      </div>
      <div>
        <label for="">年龄</label>
        <input type="number" id="" name="age" required min="1" max="150">
      </div>
      <div>
        <label for="">爱好</label>
        <input type="text" id="" name="hobbies">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>